.footer {
    background-image: url(/public/imagens/fundo.png);
    background-color: #6278F7;
    height: 25vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 64px;
    align-items: center;
}

.contatos img {
    margin: 0 8px;
    height: 25px;
    width: 22px;
}

#titulo__footer {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}